<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    Welcome {{user}} <br>
    No of site visits:<input type="number" name="" id="" value={{site_cnt}}><br>
    {% if user.is_active %}
    No of your visits: <input type="number" name="" id="" value={{ur_cnt}}>
     <a href="logout">logout</a>
    {% else %}
     <a href="login">login</a>
    {% endif %}     

    
</body>
</html>